@import '~antd/dist/antd.css';
@import './helpers/media';

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: var(--headerHeight);
  main {
    flex: 0 0 auto;
  }
  .page {
    padding: 1rem 0;
    min-height: calc(100vh - var(--headerHeight));
  }
}

.container {
  width: clamp(1000px, 90vw, 1200px);
  padding: 0 3vmin;
  margin: 0 auto;
  @include for-largePC {
    width: clamp(1200px, 90vw, 2000px);
  }
  @include for-pc {
    width: clamp(990px, 90vw, 1100px);
  }
  @include for-laptop {
    width: clamp(760px, 90vw, 970px);
  }
  @include for-table {
    width: clamp(370px, 90vw, 750px);
  }
  @include for-iphone {
    width: clamp(300px, 90vw, 350px);
  }
}

:focus {
  outline: none;
}

.ant-timeline-item-last > .ant-timeline-item-content {
  min-height: 0; // отступ у последнего элемента в dropdown
}
.ant-timeline-item {
  padding-bottom: 0;   // пункты в timeline
  & + & {
    padding-top: 10px;
  }
}
.ant-progress-circle .ant-progress-text {
  padding: 0.5rem;
}
.ant-form-item {
  justify-content: space-between; // элементы формы
  .ant-col-sm-offset-4 {
    margin-left: 0;
  }
}

.header {
  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    padding: 0 3vmin; // ссылки в header
  }
}

.column {
  flex-direction: column;
}

:root {
  --headerHeight: 64px;
}